@import "tailwindcss";

#root {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    width: 100%;
    min-height: 100vh;
}

nav {
    /*this lives inside the #root*/
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    /*min-height: 60px;*/
    height: fit-content;
    /*border: 2px solid #1c398e;*/
    /*border-bottom: 2px solid var(--border);*/
    /*border-radius: 0 0 10px;*/
    border-bottom: 2px solid var(--border);
    z-index: 1000;
    transition: 200ms all ease;
    background-color: var(--bg-secondary);
    /*background-color: var(--bg);*/
}

.nav-content {
    width: 1350px;
    margin: 0 20px;
}
@media (max-width: 400px) {
    .nav-content {
        margin: 0 4px 0 0;
    }
}
.nav-logo-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main {
    /*margin: 20px 50px;*/
    /*margin: 80px 10px;*/
    margin-top: 100px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    /*place-items: center;*/
    /*border-radius: 10px;*/
    flex: 1;
    width: 100%;
}

.main-content {
    width: 100%;
    max-width: 1350px;
    margin-inline: 30px;
    margin-top: 20px;
    display: flex;
    flex: 1;
    /*height: 100vh;*/
    /*border: 2px solid var(--border);*/
    padding: 6px;
}
@media (max-width: 1000px) {
    .main-content {
        flex-direction: column;
        margin-inline: 0;
    }
    .course-location {
        font-size: 14px;
        flex-direction: column;
    }
}

.form {
    border: 2px solid lightcoral;
    min-height: 400px;
    min-width: 400px;
}

.logo-login {
    width: 30rem;
}
.logo-navbar {
    width: 15em;
    /*transition: 0.2s all ease;*/
    /* border: 2px solid var(--border); */
    /*margin-block: 6px;*/
    border-radius: 10px;
}
@media (max-width: 800px) {
    .logo-navbar {
        /*margin-left: 10px;*/
        width: 11em;
    }
    .nav-logo-links {
        flex-direction: column;
        gap: 0;
    }
    .nav-links {
        margin-bottom: 10px;
    }
}
.nav-links {
    /*border: 2px dashed var(--border);*/
    padding: 6px 14px;
    border-radius: 1rem;
}
/* .tca-logo {
    width: 30rem;
} */
.login-container-wrapper {
    background: linear-gradient(-45deg, var(--accent), var(--border));
    padding: 2px;
    border-radius: 20px;
    transition: 0.2s all ease;
    /*margin-inline: 10rem;*/
    margin-inline: 10px;
    min-width: 400px;
    max-width: 600px;
}

.login-container {
    /*box-shadow: 6px 6px var(--shadow);*/
    background-color: var(--bg);
    padding: 2rem;
    /*border: 4px solid var(--accent);*/
    /*width: 30rem;*/
    border-radius: 18px;
}

/*.certificate-container-wrapper {
    background: linear-gradient(90deg, var(--accent), var(--border));
    padding: 20px;
    border-radius: 20px;
    transition: 0.2s all ease;
    display: flex;
    justify-content: center;
}*/
.animated-gradient {
    border-radius: 40px;
    padding: 10px;
    /* border: 2px solid var(--border); */
    background: linear-gradient(
        90deg,
        var(--border),
        var(--accent),
        var(--border),
        var(--accent)
    );
    background-size: 300% 300%;
    animation: gradientShift 8s ease infinite;
    display: flex;
    justify-content: center;
    max-height: 400px;
    max-width: 600px;
}

.animated-gradient-overlay {
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    /*background-image: repeating-radial-gradient(
        #0c0a0a 80%,
        #2f312f 90%,
        transparent 90%,
        #3f4549 90%
    );*/
    /*background-size: 65px 65px;*/
    background-color: var(--bg-secondary);
    border-radius: 30px;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.input-class {
    outline: none;
    transition: 0.2s all;
    /*border: 2px solid var(--fg);*/
    background-color: var(--bg-secondary);
    border-radius: 10px;
}
.input-class:focus {
    transform: translate(-6px, -6px);
    /*border-color: var(--accent);*/
    box-shadow: 6px 6px var(--shadow);
}
textarea.input-class {
    resize: none;
    /*overflow-y: hidden;*/
    min-height: 40px;
    max-height: 500px;
    box-sizing: border-box;
}

.signup-btn {
    border: 2px solid var(--shadow);
    font-weight: 400;
    padding: 8px;
    background-color: var(--accent-red);
    transition: all 0.2s;
}
.signup-btn:hover {
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 0px var(--shadow);
}

.sidebar-modules {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 110px;
    height: fit-content;
    border: 2px solid var(--border);
    border-radius: 10px;
    width: 350px;
    min-width: 350px;
    padding-inline: 16px 10px;
    padding-block: 16px;
    background-color: var(--bg-secondary);
    z-index: 500;
}
.mobile-dropdown {
    width: 100%;
    /*border: 2px solid var(--border);*/
    padding: 10px;
    margin-bottom: 3rem;
}
.mobile-dropdown-topsection {
    display: flex;
    gap: 1rem;
    align-items: center;
    /*padding-inline: 24px;*/
}
@media (max-width: 600px) {
    .mobile-dropdown-topsection {
        flex-direction: column;
        align-items: flex-start;
    }
    .mobile-dd-dd {
        width: 100%;
    }
}
.mobile-dd-dd {
    flex: 1;
    transform: translateY(-3px);
    position: relative;
}
.mobile-dd-display {
    border-radius: 10px;
    border: 2px solid var(--border);
    background-color: var(--bg-highlighted);
    transition: 0.2s all ease-in;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    transform: translateY(10px);
    overflow: hidden;
    transition:
        transform 0.25s ease-out,
        opacity 0.2s ease-out;
    pointer-events: none;
    border: 2px solid var(--border);
    border-radius: 10px;
    box-shadow: 6px 6px var(--accent);
}
.dropdown li {
    padding: 6px;
    transition: 0.15s all ease-in-out;
}
.dropdown li:hover {
    background-color: var(--bg-highlighted);
    cursor: pointer;
}
.dd-inactive {
    /*max-height: 0;*/
    transform: translateY(0);
    opacity: 0;
    pointer-events: none;
    scrollbar-width: thin;
    scrollbar-color: var(--border) var(--bg); /* thumb color, track color */
    scroll-behavior: smooth;
}
.dd-active {
    /*max-height: 400px;*/
    transform: translateY(10px);
    opacity: 1;
    pointer-events: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--border) var(--bg); /* thumb color, track color */
    scroll-behavior: smooth;
}

.selected-index {
    color: var(--fg);
    font-weight: bold;
    border-style: solid;
    border-color: var(--accent);
    /*border-left-color: var(--accent);*/
    /*transform: translate(-4px, -4px);*/
    box-shadow: -6px 0 var(--accent);
    background-color: var(--bg);
    padding: 6px;
    padding-inline: 12px;
}

.unselected-index {
    font-weight: bold;
    border-style: solid;
    border-color: var(--border);
    box-shadow: -6px 0 var(--border);
    padding: 6px;
    padding-inline: 12px;
}

.unselected-index:hover {
    /*border-color: var(--accent);*/
    transform: translate(-6px, 0);
    box-shadow: 6px 0 var(--border);
}

.modules-content {
    /*background-color: var(--bg-highlighted);*/
    margin-left: 10px;
    border-radius: 10px;
    /*border: 2px solid var(--border);*/
}

.section-content {
    background-color: var(--bg-secondary);
    margin-left: 10px;
    border-radius: 18px;
    height: fit-content;
    border: 2px solid var(--border);
}

@keyframes buttonPress {
    0% {
        transform: translate(-0px, -0px);
        box-shadow: 0px 0px var(--accent);
    }
    100% {
        transform: translate(-4px, -4px);
        box-shadow: 4px 4px var(--accent);
    }
}
@keyframes buttonPressRed {
    0% {
        transform: translate(-0px, -0px);
        box-shadow: 0px 0px rgb(248 113 113);
    }
    100% {
        transform: translate(-4px, -4px);
        box-shadow: 4px 4px rgb(248 113 113);
    }
}

.back-btn {
    /*font-weight: bold;*/
    color: var(--fg);
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 10px;
    cursor: pointer;
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px var(--accent);
    transition: 0.2s all ease-in;
}

.center-btn {
    align-self: center;
    margin-top: 2rem;
}

.login-btn {
    box-shadow: 4px 6px var(--accent);
}

.logout-btn {
    border: 2px solid var(--border);
    padding: 0.3rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    /*color: var(--border);*/
    color: var(--fg);
    cursor: pointer;
    transform: translate(0, 0);
    transition: 0.2s all ease-in-out;
    border-radius: 10px;
    box-shadow: 4px 4px var(--error-red);
    transform: translate(-4px, -4px);
}

/*.group:hover .logout-btn {
    box-shadow: 4px 4px var(--error-red);
    transform: translate(-4px, -4px);
    color: rgb(248 113 113);
    color: var(--fg);
    border-color: var(--border);
    border-color: var(--fg);
}*/

.logout-btn:active {
    transform: translate(-0px, -0px);
    box-shadow: 0px 0px rgb(248 113 113);
}

.logout-btn.active {
    animation: buttonPressRed 0.2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
.back-btn.active {
    animation: buttonPress 0.2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.back-btn:active {
    transform: translate(-0px, -0px);
    box-shadow: 0px 0px var(--shadow);
}

.theme-toggle {
    padding: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 4px;
}

/* From Uiverse.io by MRez321 */
.theme-switch {
    position: relative;
    display: flex;
    justify-content: center;
    direction: rtl;
    border: 2px solid var(--border);
    border-radius: 10px;
}

#theme-checkbox {
    display: none;
}

#theme-checkbox + label {
    /* change the font-size below to change the size of the switch button*/
    font-size: 2rem;
    height: 1em;
    width: 2.5em;
    border-radius: 0.25em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg);
    position: relative;
}

#theme-checkbox:checked + label {
    background-color: var(--bg);
}

#theme-checkbox + label:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}

#theme-checkbox + label div {
    width: 0.8em;
    height: 0.8em;
    border-radius: inherit;
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    z-index: 10;
    transition: 0.5s cubic-bezier(1, 0.33, 0.11, 1.34);
    /*transition: 0.15s ease-in-out;*/
    background-color: var(--fg);
}

#theme-checkbox:checked + label div {
    /* left: calc(2.5em - .8em - .1em); */
    left: 1.6em;
    background-color: var(--fg);
}

#theme-checkbox + label span {
    display: flex;
}

#theme-checkbox + label svg {
    display: inline-block;
    height: 1em;
    width: 1em;
    padding: 0.15em;
    box-sizing: border-box;
}

#theme-checkbox + label span:first-of-type {
    color: #3a3a3a;
}

#theme-checkbox + label span:last-of-type {
    color: #cecece;
}

.section-bullet {
    display: list-item;
    list-style-type: disc;
}
.section-code {
    overflow: hidden;
}
.section-code pre {
    padding: 10px;
    border: 2px 0 solid var(--border);
    border-radius: 10px;
    background-color: var(--bg);
    /*max-width: 80%;*/
    overflow: auto;
}
.section-paragraph,
.section-heading,
.section-subheading {
    word-break: break-word;
}
.section-image {
    max-height: 500px;
    /*width: inherit;*/
    /*width: 70%;*/

    margin-right: 10px;
    margin-left: 20px;
    width: auto;
    /*margin-block: 30px;*/
    /*align-self: center;*/
    padding: 14px;
    object-fit: contain;
    border-radius: 10px;
    border: 2px solid var(--border);
    background-color: var(--bg);
}
@media (max-width: 600px) {
    .section-image {
        margin-block: 10px;
        width: 100%;
    }
    .section-code pre {
        margin-block: 10px;
        width: 100%;
    }
}
.flash-message-div {
    /*width: 100%;*/
    width: 100%;
    /*border: 2px solid;*/
    /*left: 10px;
    right: 10px;*/
    padding: 10px;
    display: flex;
    justify-content: center;
    z-index: -1;
    align-items: center;
}

.flash-message {
    position: fixed;
    top: 10px;
    max-width: 500px;
    padding: 10px;
    margin-inline: 20px;
    width: 90vw;
    transition: 0.3s all ease;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    z-index: 1001;
}

@media (min-width: 500px) {
    .flash-message {
        font-size: 14px;
    }
}

.flash-info {
    box-shadow: 4px 4px var(--border);
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--border);
}
.flash-persist {
    box-shadow: 4px 4px var(--accent);
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--accent);
    padding: 10px;
}
.flash-error {
    box-shadow: 4px 4px var(--error-red);
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--error-red);
}
.flash-success {
    box-shadow: 4px 4px var(--success-green);
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--success-green);
}

.lucide {
    vertical-align: baseline;
}
.explore-courses-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}
@media (max-width: 1200px) {
    .explore-courses-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 720px) {
    .explore-courses-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.explore-courses-card {
    /*border: 2px solid var(--border);*/
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    transition: 0.2s border-color ease-in;
    background: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

.user-icon-navbar {
    position: relative;
    border: 2px solid var(--border);
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: 0.2s all ease;
}

.user-icon-open {
    border-color: var(--accent);
}

.user-icon-navbar:hover {
    border-color: var(--accent);
}

.user-menu {
    transition: 0.2s all ease;
    z-index: 10;
    position: absolute;
    top: 100%;
    right: 0;
    border: 2px solid var(--border);
    border-radius: 10px;
    margin-top: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /*gap: 10px;*/
    width: 200px;
    background-color: var(--bg);
}

.latex-code {
    max-width: 100%;
}
/*@media (hover: none) and (pointer: coarse) {
    .user-menu {
        transition:
            0.3s opacity cubic-bezier(0.4, 0, 1, 1),
            0.6s transform cubic-bezier(0, 0, 0.2, 1);
    }
    .user-menu-open {
        opacity: 100%;
        pointer-events: auto;
        transform: translateY(0px);
        transform: translateX(0px);
    }
    .user-menu-closed {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transform: translateX(100%);
    }
}*/
.user-menu-open {
    opacity: 100%;
    pointer-events: auto;
    transform: translateY(0px);
    /*transform: translateX(0px);*/
}
.user-menu-closed {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    /*transform: translateX(100%);*/
}

.courses-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    padding: 10px;
    /*border: 2px dashed var(--border);*/
    border-radius: 20px;
    gap: 12px;
}
@media (max-width: 1100px) {
    .courses-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 720px) {
    .courses-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.courses-grid-item {
    border: 2px solid var(--border);
    padding: 12px;
    border-radius: 10px;
    position: relative;
}

.courses-grid-item #courseTitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.courses-grid-item #courseDesc {
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.courses-grid-item #courseStatus {
    font-size: 0.8rem;
}

.courses-grid-item #courseStudents {
    font-size: 0.8rem;
}

.create-course-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    z-index: 100;
    animation: fadeIn 0.2s ease;
}
.create-course {
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /*border: 2px solid var(--accent);*/
    padding: 20px;
    border: 2px solid var(--accent);
    padding-top: 50px;
    background-color: var(--bg);
    animation: slideUp 0.2s ease;
    box-shadow: 6px 6px var(--accent);
    /*width: 400px;*/
    position: relative;
    height: auto;
    width: auto;
    margin-top: 100px;
    max-height: 80vh;
    /*max-height: 90%;*/
    /*min-width: 90%;*/
    transition:
        height max-height 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
        width max-width 0.4s cubic-bezier(0.22, 1, 0.36, 1) 0.1s;
    /*transition:
        height 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        width 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0.15s;*/
    /*transition:
        height 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;*/
    /*transition:
        height 0.4s cubic-bezier(0.33, 1, 0.68, 1),
        width 0.4s cubic-bezier(0.33, 1, 0.68, 1) 0.15s;*/
    /*transition:
        height 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
        width 0.5s cubic-bezier(0.22, 1, 0.36, 1) 0.15s;*/
}
.create-course.small-fit {
    width: 90%;
    /*min-width: 350px;*/
    /*max-width: 500px;*/
    height: auto;
}
.create-course.maximize {
    width: 90%;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    to {
        opacity: 1;
        backdrop-filter: blur(2px);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        scale: 0.9;
        /*transform: translateY(1000px);*/
    }
    to {
        opacity: 1;
        scale: 1;
        /*transform: translateY(0px);*/
    }
}

.popup-form-title {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--fg-secondary);
    background-color: var(--bg-secondary);
    padding: 10px;
    border-radius: 14px 14px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* From Uiverse.io by gharsh11032000 */
.radio-buttons-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.radio-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio-button__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-button__label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    color: var(--fg);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radio-button__custom {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--border);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
    transform: translateY(-50%) scale(0.9);
    border: 5px solid var(--accent);
    color: var(--accent);
}

.radio-button__input:checked + .radio-button__label {
    color: var(--accent);
}

.radio-button__label:hover .radio-button__custom {
    transform: translateY(-50%) scale(1.2);
    border-color: var(--accent);
}

.scrollable-list {
    /*border: 2px solid var(--border);*/
    padding: 12px;
    border-radius: 14px 0 0 14px;
    width: auto;
    height: 400px;
    overflow-y: scroll;
    background-color: var(--bg);
    scrollbar-width: thin;
    scrollbar-color: var(--border) var(--bg); /* thumb color, track color */
}

/* Chrome, Edge, Safari */
.scrollable-list::-webkit-scrollbar {
    width: 12px; /* Width of scrollbar */
}

.scrollable-list::-webkit-scrollbar-track {
    background: var(--bg); /* Track color */
    border-radius: 10px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    background: var(--accent); /* Thumb color */
    border-radius: 10px;
    border: 2px solid var(--bg); /* Creates padding around thumb */
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
    background: var(--accent-hover); /* Darker on hover */
}
