@import "tailwindcss";

#root {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    width: 100%;
    min-height: 100vh;
}

nav {
    /*this lives inside the #root*/
    margin: 0;
    width: 100%;
    height: auto;
    /*border: 2px solid #1c398e;*/
    border-bottom: 1px solid var(--shadow);
    background-color: var(--bg);
}

.nav-content {
    width: 1350px;
    margin: 0 50px;
}
.group img {
    opacity: 40%;
    transition: 0.2s all ease-in-out;
}
.group:hover img {
    opacity: 100%;
}

main {
    /*margin: 20px 50px;*/
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    /*place-items: center;*/
    /*border-radius: 10px;*/
    flex: 1;
    width: 100%;
}

.main-content {
    width: 100%;
    max-width: 1350px;
    margin: 50px;
    /*border: 2px solid var(--shadow);*/
}

.form {
    border: 2px solid lightcoral;
    min-height: 400px;
    min-width: 400px;
}

.tca-logo {
    width: 30rem;
}

.login-container {
    box-shadow: 6px 6px var(--shadow);
    padding: 3rem;
    width: 30rem;
}
@media (max-width: 600px) {
    .login-container {
        width: 20rem;
        padding: 1.5rem;
    }
    .tca-logo {
        width: 20rem;
    }
}

.input-class {
    outline: none;
    transition: 0.3s all;
}
.input-class:focus {
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px var(--shadow);
}

.login-btn {
    border: 2px solid var(--shadow);
    font-weight: 400;
    padding: 8px;
    background-color: var(--accent-blue);
    transition: all 0.2s;
}
.login-btn:hover {
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 0px var(--shadow);
}

.signup-btn {
    border: 2px solid var(--shadow);
    font-weight: 400;
    padding: 8px;
    background-color: var(--accent-red);
    transition: all 0.2s;
}
.signup-btn:hover {
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 0px var(--shadow);
}

.selected-index {
    color: var(--fg);
    /*font-weight: bold;*/
    border: 2px solid var(--shadow);
    /*transform: translate(-4px, -4px);*/
    box-shadow: 6px 0 var(--shadow);
    background-color: var(--bg);
}

.unselected-index {
    border: 2px solid transparent;
    box-shadow: 6px 0 var(--fg-faded);
    /*font-weight: bold;*/
    /*background-color: var(--accent-red-faded);*/
}

.unselected-index:hover {
    border-color: var(--shadow);
    transform: translate(6px, 0);
    box-shadow: -6px 0 var(--shadow);
}

@keyframes buttonPress {
    0% {
        transform: translate(-0px, -0px);
        box-shadow: 0px 0px var(--shadow);
    }
    100% {
        transform: translate(-4px, -4px);
        box-shadow: 4px 4px var(--shadow);
    }
}
@keyframes buttonPressRed {
    0% {
        transform: translate(-0px, -0px);
        box-shadow: 0px 0px rgb(248 113 113);
    }
    100% {
        transform: translate(-4px, -4px);
        box-shadow: 4px 4px rgb(248 113 113);
    }
}

.back-btn {
    /*max-width: 10rem;*/
    font-weight: bold;
    color: var(--fg);
    background-color: var(--accent-blue);
    /*border: 2px solid var(--shadow);*/
    padding: 4px 15px;
    cursor: pointer;
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px var(--shadow);
    /*margin-bottom: 2rem;*/
    transition: 0.2s all ease-in;
}

.logout-btn {
    border: 2px solid var(--fg-faded);
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    color: var(--fg-faded);
    cursor: pointer;
    transform: translate(0, 0);
    transition: 0.2s all ease-in-out;
    border-radius: 5px;
}

.group:hover .logout-btn {
    box-shadow: 4px 4px rgb(248 113 113);
    transform: translate(-4px, -4px);
    color: rgb(248 113 113);
    border-color: rgb(248 113 113);
}

.group:hover .logout-btn:active {
    transform: translate(-0px, -0px);
    box-shadow: 0px 0px rgb(248 113 113);
}

.logout-btn.active {
    animation: buttonPressRed 0.2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
.back-btn.active {
    animation: buttonPress 0.2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.back-btn:active {
    transform: translate(-0px, -0px);
    box-shadow: 0px 0px var(--shadow);
}

.theme-toggle {
    padding: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 4px;
}

/* From Uiverse.io by MRez321 */
.theme-switch {
    position: relative;
    display: flex;
    justify-content: center;
    direction: rtl;
}

#theme-checkbox {
    display: none;
}

#theme-checkbox + label {
    /* change the font-size below to change the size of the switch button*/
    font-size: 2rem;
    height: 1em;
    width: 2.5em;
    border-radius: 0.25em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: #cecece;
    position: relative;
}

#theme-checkbox:checked + label {
    background-color: #3a3a3a;
}

#theme-checkbox + label:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}

#theme-checkbox + label div {
    width: 0.8em;
    height: 0.8em;
    border-radius: inherit;
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    z-index: 10;
    /*transition: 0.5s cubic-bezier(1, 0.33, 0.11, 1.34);*/
    transition: 0.15s ease-in-out;
    background-color: #f2f2f2;
}

#theme-checkbox:checked + label div {
    /* left: calc(2.5em - .8em - .1em); */
    left: 1.6em;
    background-color: #212121;
}

#theme-checkbox + label span {
    display: flex;
}

#theme-checkbox + label svg {
    display: inline-block;
    height: 1em;
    width: 1em;
    padding: 0.15em;
    box-sizing: border-box;
}

#theme-checkbox + label span:first-of-type {
    color: #3a3a3a;
}

#theme-checkbox + label span:last-of-type {
    color: #cecece;
}

.module-info {
    box-shadow: 8px 8px var(--shadow);
}

.section-bullet {
    display: list-item;
    list-style-type: disc;
}

.flash-message {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    transition: 0.3s all ease;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    box-shadow: 4px 4px var(--shadow);
    z-index: 100;
}

.flash-info {
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--shadow);
}

.sidebar-modules {
    border: 2px dashed var(--fg-faded);
    border-radius: 10px;
    width: 350px;
}

.lucide {
    vertical-align: baseline;
}
