@import "tailwindcss";

#root {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    width: 100%;
    min-height: 100vh;
}

nav {
    /*this lives inside the #root*/
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    /*min-height: 60px;*/
    height: fit-content;
    /*border: 2px solid #1c398e;*/
    /*border-bottom: 2px solid var(--border);*/
    /*border-radius: 0 0 10px;*/
    border-bottom: 2px solid var(--border);
    z-index: 1000;
    transition: 200ms all ease;
    background-color: var(--bg-highlighted);
    /*background-color: var(--bg);*/
}

.nav-content {
    width: 1350px;
    margin: 0 50px;
}
.nav-logo-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main {
    /*margin: 20px 50px;*/
    margin: 80px 10px;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    /*place-items: center;*/
    /*border-radius: 10px;*/
    flex: 1;
    width: 100%;
}

.main-content {
    width: 100%;
    max-width: 1350px;
    margin: 50px;
    display: flex;
    /*border: 2px solid var(--border);*/
    padding: 6px;
}
@media (max-width: 1000px) {
    .main-content {
        flex-direction: column;
    }
}

.form {
    border: 2px solid lightcoral;
    min-height: 400px;
    min-width: 400px;
}

.logo-login {
    width: 30rem;
}
.logo-navbar {
    width: 15em;
    /*transition: 0.2s all ease;*/
    /* border: 2px solid var(--border); */
    margin-block: 6px;
    border-radius: 10px;
}
@media (max-width: 800px) {
    .logo-navbar {
        margin-left: 10px;
        width: 11em;
    }
    .nav-logo-links {
        flex-direction: column;
        gap: 0;
    }
    .nav-links {
        margin-bottom: 10px;
    }
}
.nav-links {
    /*border: 2px dashed var(--border);*/
    padding: 6px 14px;
    border-radius: 1rem;
}
/* .tca-logo {
    width: 30rem;
} */
.login-container-wrapper {
    background: linear-gradient(0deg, var(--accent), var(--border));
    padding: 8px;
    border-radius: 20px;
    transition: 0.2s all ease;
}

.certificate-container-wrapper {
    background: linear-gradient(90deg, var(--accent), var(--border));
    padding: 20px;
    border-radius: 20px;
    transition: 0.2s all ease;
}
.animated-gradient {
    padding: 14px;
    border-radius: 14px;
    /* border: 2px solid var(--border); */
    background: linear-gradient(
        90deg,
        var(--border),
        var(--accent),
        var(--border),
        var(--accent)
    );
    background-size: 300% 300%;
    animation: gradientShift 8s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*.login-container-wrapper:hover,
.login-container-wrapper.input-class:focus {
    padding: 10px;
}*/

.login-container {
    /*box-shadow: 6px 6px var(--shadow);*/
    background-color: var(--bg);
    padding: 3rem;
    /*border: 4px solid var(--accent);*/
    width: 30rem;
    border-radius: 15px;
}

.input-class {
    outline: none;
    transition: 0.2s all;
    border: 2px solid var(--border);
    border-radius: 10px;
}
.input-class:focus {
    transform: translate(-4px, -6px);
    box-shadow: 4px 6px var(--shadow);
}

.signup-btn {
    border: 2px solid var(--shadow);
    font-weight: 400;
    padding: 8px;
    background-color: var(--accent-red);
    transition: all 0.2s;
}
.signup-btn:hover {
    transform: translate(-6px, -6px);
    box-shadow: 6px 6px 0px var(--shadow);
}

.sidebar-modules {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 110px;
    height: fit-content;
    border: 2px solid var(--border);
    border-radius: 10px;
    width: 350px;
    min-width: 350px;
    padding-inline: 16px 10px;
    padding-block: 16px;
    background-color: var(--bg);
    z-index: 500;
}
.mobile-dropdown {
    width: 100%;
    /*border: 2px solid var(--border);*/
    padding: 10px;
    margin-bottom: 3rem;
}
.mobile-dropdown-topsection {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-inline: 24px;
}
@media (max-width: 600px) {
    .mobile-dropdown-topsection {
        flex-direction: column;
        align-items: flex-start;
    }
    .mobile-dd-dd {
        width: 100%;
    }
}
.mobile-dd-dd {
    flex: 1;
    transform: translateY(-3px);
    position: relative;
}
.mobile-dd-display {
    border-radius: 10px;
    border: 2px solid var(--border);
    background-color: var(--bg-highlighted);
    transition: 0.2s all ease-in;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    transform: translateY(10px);
    overflow: hidden;
    transition:
        transform 0.25s ease-out,
        opacity 0.2s ease-out;
    pointer-events: none;
    border: 2px solid var(--border);
    border-radius: 10px;
    box-shadow: 6px 6px var(--accent);
}
.dropdown li {
    padding: 6px;
    transition: 0.15s all ease-in-out;
}
.dropdown li:hover {
    background-color: var(--bg-highlighted);
    cursor: pointer;
}
.dd-inactive {
    /*max-height: 0;*/
    transform: translateY(0);
    opacity: 0;
    pointer-events: none;
}
.dd-active {
    /*max-height: 400px;*/
    transform: translateY(10px);
    opacity: 1;
    pointer-events: auto;
}

.selected-index {
    color: var(--fg);
    font-weight: bold;
    border-style: solid;
    border-color: var(--accent);
    /*border-left-color: var(--accent);*/
    /*transform: translate(-4px, -4px);*/
    box-shadow: -6px 0 var(--accent);
    background-color: var(--bg-highlighted);
    padding: 6px;
}

.unselected-index {
    font-weight: bold;
    border-style: solid;
    border-color: var(--border);
    box-shadow: -6px 0 var(--border);
    padding: 6px;
}

.unselected-index:hover {
    /*border-color: var(--accent);*/
    transform: translate(-6px, 0);
    box-shadow: 6px 0 var(--border);
}

.modules-content {
    /*background-color: var(--bg-highlighted);*/
    margin-left: 10px;
    border-radius: 10px;
    /*border: 2px solid var(--border);*/
}

.section-content {
    background-color: var(--bg-highlighted);
    margin-left: 10px;
    border-radius: 18px;
    height: fit-content;
    /*border: 2px solid var(--fg);*/
}

@keyframes buttonPress {
    0% {
        transform: translate(-0px, -0px);
        box-shadow: 0px 0px var(--shadow);
    }
    100% {
        transform: translate(-4px, -4px);
        box-shadow: 4px 4px var(--shadow);
    }
}
@keyframes buttonPressRed {
    0% {
        transform: translate(-0px, -0px);
        box-shadow: 0px 0px rgb(248 113 113);
    }
    100% {
        transform: translate(-4px, -4px);
        box-shadow: 4px 4px rgb(248 113 113);
    }
}

.back-btn {
    /*font-weight: bold;*/
    color: var(--fg);
    background-color: var(--bg);
    border: 2px solid var(--border);
    border-radius: 10px;
    cursor: pointer;
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px var(--accent);
    transition: 0.2s all ease-in;
}

.center-btn {
    align-self: center;
    margin-top: 2rem;
}

.login-btn {
    box-shadow: 4px 6px var(--accent);
}

.logout-btn {
    border: 2px solid var(--border);
    padding: 0.3rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    /*color: var(--border);*/
    color: var(--fg);
    cursor: pointer;
    transform: translate(0, 0);
    transition: 0.2s all ease-in-out;
    border-radius: 10px;
    box-shadow: 4px 4px var(--error-red);
    transform: translate(-4px, -4px);
}

/*.group:hover .logout-btn {
    box-shadow: 4px 4px var(--error-red);
    transform: translate(-4px, -4px);
    color: rgb(248 113 113);
    color: var(--fg);
    border-color: var(--border);
    border-color: var(--fg);
}*/

.logout-btn:active {
    transform: translate(-0px, -0px);
    box-shadow: 0px 0px rgb(248 113 113);
}

.logout-btn.active {
    animation: buttonPressRed 0.2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
.back-btn.active {
    animation: buttonPress 0.2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.back-btn:active {
    transform: translate(-0px, -0px);
    box-shadow: 0px 0px var(--shadow);
}

.theme-toggle {
    padding: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 4px;
}

/* From Uiverse.io by MRez321 */
.theme-switch {
    position: relative;
    display: flex;
    justify-content: center;
    direction: rtl;
    border: 2px solid var(--border);
    border-radius: 10px;
}

#theme-checkbox {
    display: none;
}

#theme-checkbox + label {
    /* change the font-size below to change the size of the switch button*/
    font-size: 2rem;
    height: 1em;
    width: 2.5em;
    border-radius: 0.25em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg);
    position: relative;
}

#theme-checkbox:checked + label {
    background-color: var(--bg);
}

#theme-checkbox + label:active {
    transform: scale(0.9);
    transition: transform 0.2s;
}

#theme-checkbox + label div {
    width: 0.8em;
    height: 0.8em;
    border-radius: inherit;
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    z-index: 10;
    transition: 0.5s cubic-bezier(1, 0.33, 0.11, 1.34);
    /*transition: 0.15s ease-in-out;*/
    background-color: var(--fg);
}

#theme-checkbox:checked + label div {
    /* left: calc(2.5em - .8em - .1em); */
    left: 1.6em;
    background-color: var(--fg);
}

#theme-checkbox + label span {
    display: flex;
}

#theme-checkbox + label svg {
    display: inline-block;
    height: 1em;
    width: 1em;
    padding: 0.15em;
    box-sizing: border-box;
}

#theme-checkbox + label span:first-of-type {
    color: #3a3a3a;
}

#theme-checkbox + label span:last-of-type {
    color: #cecece;
}

.section-bullet {
    display: list-item;
    list-style-type: disc;
}

.flash-message {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    transition: 0.3s all ease;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    z-index: 1001;
    border-radius: 10px;
    font-size: 14px;
}

.flash-info {
    box-shadow: 4px 4px var(--border);
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--border);
}
.flash-error {
    box-shadow: 4px 4px var(--error-red);
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--error-red);
}
.flash-success {
    box-shadow: 4px 4px var(--success-green);
    background-color: var(--bg);
    color: var(--fg);
    border: 2px solid var(--success-green);
}

.lucide {
    vertical-align: baseline;
}

.explore-courses-card {
    border: 2px solid var(--border);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    width: 400px;
    transition: 0.2s border-color ease-in;
}

.explore-courses-card h2 {
    margin-bottom: 10px;
}

.explore-courses-card p {
    margin-bottom: 20px;
}

.user-icon-navbar {
    position: relative;
    border: 2px solid var(--accent);
    padding: 4px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.user-menu {
    transition: 0.2s all ease;
    position: absolute;
    top: 100%;
    right: 0;
    border: 2px solid var(--border);
    transform: translateX(2px);
    /*border-radius: 10px 0 10px 10px;*/
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
    background-color: var(--bg);
}
.user-menu-open {
    opacity: 100%;
    pointer-events: auto;
}
.user-menu-closed {
    opacity: 0;
    pointer-events: none;
}
