:root {
    /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    font-family: "Fira Code", monospace;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    --bg: #1f1f1f;
    --fg: #f8f8f8;
    --fg-faded: #f8f8f860;
    --highlighted: #5757576e;
    --shadow: #bcddfc;
    /*--accent-blue: #0083cf;*/
    --accent-blue: #557899;
    --accent-blue-faded: #0083cf90;
    --accent-red: #ff8e18;
    --accent-red-faded: #ce6900;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="light"] {
    --bg: #f5f5f5;
    --fg: #0a0a0a;
    --fg-faded: #0a0a0a60;
    --highlighted: #cfcfcf8f;
    --shadow: #1f1f1f;
    --accent-blue: #a1c6ea;
    --accent-blue-faded: #73c0fc90;
    --accent-red: #d66;
    --accent-red-faded: #dd666690;

    color-scheme: light;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/*button {
    border-radius: 3px;
    border: 2px solid #00c0ff;
    padding: 0.6em 1.2em;
    cursor: pointer;
}*/

/*@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}*/
