:root {
    /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    font-family: "Fira Code", monospace;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: thin;
    scrollbar-color: var(--fg) var(--accent);
}

:root[data-theme="light"] {
    --bg: #f8fafc;
    --bg-secondary: #e2f3f4;
    --fg: #0f172a;
    --fg-secondary: #475569;
    --bg-highlighted: #f1f5f9;
    --highlighted: #e0f2fe;
    --border: #cbd5e1;
    --shadow: #6dc7d1;
    --accent: #6dc7d1ac;
    --accent-deeper: #33a8b5;
    --success-green: #00bc7d;
    --success-green-lighter: #00bc7d30;
    --error-red: #ec003f;
    --error-red-lighter: #ec003f30;
    --color-blue: #0ea5e9;
    color-scheme: light;
}
:root[data-theme="dark"] {
    --bg: #1f2530;
    --bg-secondary: #2b313f;
    --fg: #f8f9fa;
    --fg-secondary: #eef2f7;
    --bg-highlighted: #374152;
    --highlighted: #10354a;
    --border: #4a5567;
    --shadow: #59b9c7;
    --accent: #59b9c7;
    --accent-deeper: #59b9c7;
    --success-green: #00bc7d;
    --success-green-lighter: #00bc7d30;
    --error-red: #ec003f;
    --error-red-lighter: #ec003f30;
    --color-blue: #1fb6ff;
    color-scheme: dark;
}
/*:root[data-theme="dark"] {
    --bg: #051824;
    --fg: #f8f8f8;
    --bg-highlighted: #162936;
    --highlighted: #10354a;
    --border: #3b5265;
    --shadow: #27e9b5;
    --accent: #27e9b5;
    --success-green: #00bc7d;
    --error-red: #ec003f;
    --color-blue: #1fb6ff;
    color-scheme: dark;
}*/
html {
    scrollbar-gutter: stable;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/*button {
    border-radius: 3px;
    border: 2px solid #00c0ff;
    padding: 0.6em 1.2em;
    cursor: pointer;
}*/

/*@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}*/
