:root {
    /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    font-family: "Fira Code", monospace;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="light"] {
    --bg: #faf3e1;
    --fg: #222222;
    --bg-highlighted: #f5e7c6;
    --border: #2222228f;
    --shadow: #ff6d1f;
    --accent: #ff6d1f;

    color-scheme: light;
}
:root[data-theme="dark"] {
    --bg: #1f1f1f;
    --fg: #f8f8f8;
    --bg-highlighted: #5757576e;
    --border: #f8f8f88f;
    --shadow: #fbf9e4;
    --accent: #fbf9e4;
    color-scheme: dark;
}
html {
    scrollbar-gutter: stable;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

/*button {
    border-radius: 3px;
    border: 2px solid #00c0ff;
    padding: 0.6em 1.2em;
    cursor: pointer;
}*/

/*@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}*/
