services:
    mongodb:
        image: mongo:latest
        container_name: mongodb
        restart: unless-stopped
        environment:
            - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
            - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
        command:
            - "--auth"
        volumes:
            - course-mongo-data:/data/db
        networks:
            - course-app

    backend:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: my-backend
        restart: unless-stopped
        environment:
            - MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/
        env_file:
            - .env
        ports:
            - "5000:5000"
        depends_on:
            - mongodb
        networks:
            - course-app

    frontend:
        build:
            context: ./client
            dockerfile: Dockerfile
        container_name: my-frontend
        restart: unless-stopped
        ports:
            - "8080:80"
        depends_on:
            - backend
        networks:
            - course-app

volumes:
    course-mongo-data:

networks:
    course-app:
